* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f2f2;
}



#header,
#recipe-list,
.end_text {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fcefeb;
    border-radius:32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#recipe-list {
    display: block;
    padding-left: 300px;
    padding-right: 300px;
    
}

.container_list,
.container_text,
.inner_content{
    padding: 10px;
    background-color: #fdf6f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container_list,
.container_text {
    display: inline-block;
}

.container_list {
    padding-left: 30px;
}

.image {
    border-radius: 8px;
}

.end_text {
    padding-top: 15px;
}

.back,
.back_arrow{
    display: inline-block;
    background-color: #fdf6f4;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back {
    margin-top: 20px;
    margin-left: 8px;
    padding: 10px 20px;
}

.back_arrow {
    margin-bottom: 10px;
    padding: 1px 10px;
}