* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}



#header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius:16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#recipe-list {
    display: block;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    
}

/* #recipe-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius:16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
} */